@import "node_modules/bootstrap/scss/bootstrap";

main {
    padding-top: 5em;
}

.imagenes {
    width: 300px
}

.bloqueado {
    background-color: #e0e0e0;
}

.bloqueadasPub {
    opacity: 0.5;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
} 